.conteudo{
    padding: 20px 10px;
    width: 100%;

    &__imc{
        margin-top: 50px;
        width: 50%;

        h2{
            margin-bottom: 10px;
        }
    }

    &__inter{
        margin-top: 50px;

        h2{
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .col{

        h3{
            margin: 20px 0;
            font-size: 18px;
        }

        p{
            margin-bottom: 10px;
        }
    }
}