.header{
    height: 10vh;
    background-color: $cor-azul;
    display: flex;
    align-items: center;
    color: $cor-branca;

    h1{
        color: $cor-azul;
        background-color: $cor-branca;
        padding: 0px 10px;
        margin-left: 10px;
        margin-top: 5px;
    }

    &__lista{
        display: flex;
        padding: 0;
        margin: 0;

        .item{
            margin: 0 10px;
            list-style: none;

            a{
                text-decoration: none;
                color: #efefef;
                font-size: 18px;

                &:hover{
                    color: $cor-branca;
                }
            }
        }
    }
}